@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body
{
    font-family: 'Cormorant Garamond';
}

nav 
{
  background-color: #3C2517;
  padding: 30px;
}


nav ul li a 
{
  color: #FFEEBD; 
  border-radius: 50px;
}

a:link 
{
    color:#FFEEBD;
    text-decoration: none;
}


  a:visited 
{
  color: #FFEEBD;
  text-decoration: none;
}
